{% extends 'registration/admin-base.html' %}

{% block title %}{% block title-meta %}
     داشبورد مدیریت
{% endblock %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="info-box bg-info">
      <span class="info-box-icon"><i class="far fa-comment"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">دیدگاه‌ها</span>
        <span class="info-box-number">{{ Comment }}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">
          {{ Domment}} دیدگاه در انتظار تایید
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <div class="info-box bg-olive">
      <span class="info-box-icon"><i class="fas fa-sms"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">پیغام‌ها</span>
        <span class="info-box-number">{{ Contact }}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">
          {{ Dontact }} پیغام دیده نشده
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <div class="info-box bg-gray">
      <span class="info-box-icon"><i class="fa fa-edit"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">پست‌ها</span>
        <span class="info-box-number">{{ Post }}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">
          {{ Dost }} پست پیش نویس
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <div class="info-box bg-dark">
      <span class="info-box-icon"><i class="fa fa-bell"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">رویداد</span>
        <span class="info-box-number">{{ Event }}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">
          {{ Devent }} رویداد به اتمام نرسیده
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header">
        <h4>
          <i class="fas fa-bullhorn"></i>
          اعلانات
        </h4>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        
        {% if Callout %}
          {% for call in Callout %}
            <div class="callout callout-info">
              <h2>{{ call.title }}</h2>
              <p>{{ call.message }}</p>
              <span class="text-muted">{{ call.date }}</span>
            </div>
          {% endfor %}
        {% else %}
           <h3 class="text-center">اعلانی وجود ندارد</h3>
        {% endif %}
          
        
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  {% if request.user.profile.is_admin %}  
    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>
            <i class="fas fa-calendar"></i>
            تقویم
          </h4>
        </div>
        {% if Calender %}
          <img src="{{ Calender.image.url }}" class="post-img" alt="Notebook">
        {% endif %}
          
      </div>
    </div>
  {% endif %}
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header">
        <h4>
          <i class="fas fa-calendar"></i>
          فایل‌ها
        </h4>
      </div>
      <div class="container text-center">
        <br>
        {% if File %}
          {% for file in File %}
            <a href="{{ file.admin_file.url }}" class="btn btn-info btn-lg active dl-btn" role="button"><i class="fa fa-file-download" style="padding-left: 15px;"></i>{{ file.title}}</a>
            <br>
          {% endfor %}
        {% else %}
          <h3 class="text-center">فایلی وجود ندارد</h3>
        {% endif %}
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

    
{% endblock content %}

    