{% extends 'base.html' %}
{% load static %}

{% block title %}{% block title-meta %}
    درباره ما
{% endblock %}{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="card" style="padding: 20px;">
        <p>
            <img src="{% static 'images/cgc-about.jpeg' %}"/>
        </p>
        <h1>جامعه گیک‌های کامپیوتر</h1>
        <p>
            جامعه گیک‌های کامپیوتر (به اختصار CGC) در زمستان 1398 با همکاری جمعی دانشجویی شروع به کار کرد و اولین جلسه رسمی این جامعه در تاریخ 22 اسفند ماه 98 برگزار شد.
        </p>
        <p>
            این جامعه‌ یک جامعه مستقل و آزاد است که توسط اعضا اداره می‌شود. عضویت در این جامعه محدودیتی ندارد و هرکس می‌تواند عضوی از این جامعه باشد. ارزش هر فرد در این جامعه به اندازه سایرین است و این گروه به صورت کاربر محور اداره می‌شود. عمده فعالیت‌ها در CGC به صورت داوطلبانه انجام می‌شود.        </p>
        <p>
            فعالیت‌های این گروه از کاربران،در حوزه علوم کامپیوتر و تکنولوژی‌های جدید انجام می‌شود. فعالیت‌های این جامعه اساسا بر پایه همکاری و مشارکت و برگزاری جلسات گروهی معنا می‌شود.        </p>
        <h2>رسانه مستقل</h2>
        <p>
            در مرداد ماه 1399 و بعد از گذشت چند ماه از آغاز فعالیت CGC هسته اصلی کاربران جامعه تصمیم بر شروع فاز جدیدی از فعالیت و تشکیل یک رسانه مستقل و آزاد گرفته و بخشی جدید بر جامعه گیک‌های کاربران افزودند.
        </p>
        <p>
            هیئت مدیره تشکیل شده از موسسین و بخشی از فعال ترین افراد جامعه است . 
            در CGC سلسله مراتب با توجه به سابقه ، فعالیت و محتواهای تولیدی هر عضو در مجموعه مشخص میگردد. 
            در اولین دوره اعضای هیئت مدیره با نظر هم-بنیان گذاران انتخاب شدند.        <p>
        </p>
        <p>
            مستقل بودن CGC هم از این نگاه که فعالیت‌های این جمع به هیچ گروه یا ارگانی وابسته نیست و هم اینکه جامعه گیک‌های کامپیوتر وابسته به یک فرد نبوده و با گروهی از افراد معنا پیدا می‌کند صدق می‌کند
        </p>
    </div>
</div>

{% endblock content %}


    