{% extends 'base.html' %}

{% block title-meta %}
    {{ Category }}
{% endblock title-meta %}

{% block description-meta %}
  {{ Category.description }}
{% endblock description-meta %}

{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body text-center">
            <h1>{{ Category }}</h1>
            <h5>{{ Category.description|safe }}</h5>
        </div>
    </div>
    
    {% for post in Post %}
        <div class="pots-profile card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img" style="height: 200px;">
                    {% else %}
                        <img src="{{ post.img_th404 }}" class="card-img" style="height: 200px;">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="post-card card-body">
                        <a class="my-url" href="{{ post.get_absolute_url }}"><h5 class="card-title">{{ post.title}}</h5></a>
                        <p class="card-text">{{ post.summary|safe|truncatewords:45 }}</p>
                        <span class="badge badge-info">{{ post.jdate }}</span>
                        <span class="badge badge-info">{{ post.category }}</span>
                        {% if post.file_url %}
                            <a href="{{ post.file_url }}"><span class="badge badge-dark"><i class="fas fa-download"></i></span></a>
                        {% endif %}
                        {% if post.youtube_url %}
                            <a href="{{ post.youtube_url }}"><span class="badge badge-danger"><i class="fab fa-youtube"></i></span></a>
                        {% endif %}
                        {% if post.github_url %}
                            <a href="{{ post.github_url }}"><span class="badge badge-dark"><i class="fab fa-github"></i></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if Post.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if Post.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ Post.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for i in Post.paginator.page_range %}
                    {% if Post.number == i %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if Post.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ Post.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>

{% endblock content %}
    


    