{% extends 'base.html' %}

{% block title-meta %}
    بازیابی رمز عبور
{% endblock title-meta %}

{% block content %}
  <br>
  <div class="container text-center">
    <div class="alert alert-success" role="alert">
      <h4>درخواست بازیابی رمز عبور انجام شد</h4>
      <p>لطفا ایمیل خود را چک کنید و از طریق لینکی که برای شما ارسال شده است رمزعبور خود را مجددا تنظیم نمایید</p>
      <p>در صورتی که ایمیل را در inbox خود پیدا نکردید پوشه spam را چک کنید</p>
    </div>
    <a class="text-center" href="{% url 'password_reset' %}"><p><strong>ایمیل را دریافت نکردید؟</strong></p></a>
  </div>
{% endblock %}