{% extends 'base.html' %}

{% block title-meta %}
    تنظیم مجدد رمز عبور
{% endblock title-meta %}

{% block content %}
  <br>
  <div class="container text-center">
    <div class="alert alert-success" role="alert">
      <h4>تنظیم مجدد رمز عبور</h4>
    </div>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">تغییر رمز عبور</button>
      </form>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>
          لینک بازیابی معتبر نمی‌باشد. ممکن است پیش از این از این لینک استفاده کرده باشید یا زمان زیادی از زمان ارسال این لینک به شما می‌گذرد. لطفا یک بار دیگر درخواست بازیابی رمز عبور ارسال کنید
        </p>
      </div>
      <a class="text-center" href="{% url 'password_reset' %}"><p><strong>درخواست مجدد بازیابی رمز عبور</strong></p></a>
    {% endif %}
  </div>
{% endblock %}