{% extends 'base.html' %}

{% block title-meta %}
  پروفایل {{ User }}
{% endblock title-meta %}
  
{% block content %}
<br>
<div dir="rtl">
  <div class="container">
    <div class="text-center">
      <div class="profile-block">
          {% if User.profile.image %}
            <img class="avatar-img" src="{{ User.profile.image.url }}">
          {% else %}
            <img class="avatar-img" src="{{ User.profile.img_404 }}">
          {% endif %}
          <h1>{{User.get_full_name}}</h1>
          <h2>درباره من</h2>
          <p>{{ User.profile.bio|safe }}</p>
          {% if User.profile.instagram %}
            <a href="{{ User.profile.instagram }}" class="my-url"><i class="social-icons fab fa-instagram"></i></a>
          {% endif %}
          {% if User.profile.linkedin %}
            <a href="{{ User.profile.instagram }}" class="my-url"><i class="social-icons fab fa-linkedin"></i></a>
          {% endif %}
          {% if User.profile.github %}
            <a href="{{ User.profile.github }}" class="my-url"><i class="social-icons fab fa-github"></i></a>
          {% endif %}
          {% if User.profile.trello %}
            <a href="{{ User.profile.trello }}" class="my-url"><i class="social-icons fab fa-trello"></i></a>
          {% endif %}
          {% if User.profile.email %}
            <a href="{{ User.profile.email }}" class="my-url"><i class="social-icons fas fa-envelope"></i></a>
          {% endif %}
          {% if User.profile.twitter %}
            <a href="{{ User.profile.twitter }}" class="my-url"><i class="social-icons fab fa-twitter"></i></a>
          {% endif %}                    
          <br>
      </div>
      <br>
      <ul class="nav nav-tabs text-center" id="nav-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">
            <h1>
              مطالب من
            </h1>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">
            <h1>
              رویدادهای من
            </h1>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="false">
              <h1>
                پروژه‌های من
              </h1>
            </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
              {% if Post %}
                {% for post in Post %}
                  <div class="pots-profile card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                          {% if post.image %}
                              <img src="{{ post.image.url }}" class="card-img" style="height: 200px;">
                          {% else %}
                              <img src="{{ post.img_th404 }}" class="card-img" style="height: 200px;">
                          {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="post-card card-body">
                          <a class="my-url" href="{{ post.get_absolute_url }}"><h5 class="card-title">{{ post.title}}</h5></a>
                          <p class="card-text">{{ post.summary|safe }}</p>
                          <span class="badge badge-info">{{ post.publish_date }}</span>
                          <span class="badge badge-info">{{ post.category }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% if Post.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if Post.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ Post.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in Post.paginator.page_range %}
                                {% if Post.number == i %}
                                    <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if Post.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ Post.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link disabled" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
              {% else %}
                  <div class="card">
                      <h3 class="text-center" style="margin: 30px;">هیچ مقاله‌ای برای نمایش وجود ندارد. لطفا از صحیح بودن کلمه جستجو شده اطمینان حاصل کنید.</h3>
                  </div>
              {% endif %}
          </div>
          <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
            {% if Event %}
                {% for event in Event %}
                    <div class="pots-profile card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if event.image %}
                                    <img src="{{ event.image.url }}" class="card-img" style="height: 200px;">
                                {% else %}
                                    <img src="{{ event.img_th404 }}" class="card-img" style="height: 200px;">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="post-card card-body">
                                    <a class="my-url" href="{{ event.get_absolute_url }}"><h5 class="card-title">{{ event.title}}</h5></a>
                                    <p class="card-text">{{ event.summary|truncatewords:45 }}</p>
                                    <span class="badge badge-info">{{ event.jdate }}</span>
                                    <span class="badge
                                        {% if event.status == 'a' %}
                                            badge-secondary
                                        {% elif event.status == 'b' %}
                                            badge-success
                                        {% else %}
                                            badge-warning
                                        {% endif %}"
                                        dir="rtl">{{ event.get_status_display }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card">
                    <h3 class="text-center" style="margin: 30px;">هیچ رویدادی برای نمایش وجود ندارد. لطفا از صحیح بودن کلمه جستجو شده اطمینان حاصل کنید.</h3>
                </div>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">
            {% if Project %}
                {% for project in Project %}
                    <div class="pots-profile card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if project.image %}
                                    <img src="{{ project.image.url }}" class="card-img" style="height: 200px;">
                                {% else %}
                                    <img src="{{ event.img_th404 }}" class="card-img" style="height: 200px;">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="post-card card-body">
                                    <a class="my-url" href="{{ project.get_absolute_url }}"><h5 class="card-title">{{ project.title}}</h5></a>
                                    <p class="card-text">{{ project.summary }}</p>
                                    <span class="badge badge-info">{{ project.category }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card">
                    <h3 class="text-center" style="margin: 30px;">هیچ پروژه‌ای برای نمایش وجود ندارد. لطفا از صحیح بودن کلمه جستجو شده اطمینان حاصل کنید.</h3>
                </div>
            {% endif %}
          </div>
      </div>
      
          
        
    </div>
  </div>
</div>
  
  {% endblock content %}

   