{% extends 'base.html' %}

{% block title-meta %}
    پروژه‌های مربوط به {{ Category }}
{% endblock title-meta %}

{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body text-center">
            <h1>پروژه‌های مربوط به {{ Category }}</h1>
        </div>
    </div>
    
    {% for project in Project %}
        <div class="pots-profile card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ project.image.url }}" class="card-img" style="height: 200px;">
                </div>
                <div class="col-md-8">
                    <div class="post-card card-body">
                        <a class="my-url" href="{{ project.get_absolute_url }}"><h5 class="card-title">{{ project.title}}</h5></a>
                        <p class="card-text">{{ project.summary|truncatewords:250 }}</p>
                        <span class="badge badge-info">
                            <a class="my-dark-url" href="{{ project.head.profile.get_absolute_url }}">{{ project.head.get_full_name }}</a>
                        </span>
                        <span class="badge badge-info">{{ project.category }}</span>
                        {% if project.file_url %}
                            <a href="{{ project.file_url }}"><span class="badge badge-dark"><i class="fas fa-download"></i></span></a>
                        {% endif %}
                        {% if project.youtube_url %}
                            <a href="{{ project.youtube_url }}"><span class="badge badge-danger"><i class="fab fa-youtube"></i></span></a>
                        {% endif %}
                        {% if project.github_url %}
                            <a href="{{ project.github_url }}"><span class="badge badge-dark"><i class="fab fa-github"></i></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if Post.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if Post.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ Post.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for i in Post.paginator.page_range %}
                    {% if Post.number == i %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if Post.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ Post.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>

{% endblock content %}
    


    