{% extends 'base.html' %}
{% load thumbnail %}

{% block title-meta %}
   پروژ‌ه‌ها
{% endblock title-meta %}

{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body text-center">
            <h1>پروژ‌ه‌ها و نمونه‌کارهای CGC</h1>
            <p>
                جامعه گیک‌های کامپیوتر با دارا بودن تیمی جوان و مجرب آماده انجام انواع پروژه در حوزه‌های مرتبط است.
                شما می‌توانید نمونه‌کارها و محصولات منتشر شده توسط CGC را بررسی کرده و پس از اطمینان از طریق  <a href="{% url 'app-blog:contact' %}">این صفحه</a> با در تماس باشید و سفارش خود را ثبت کنید
            </p>
            <p>CGC با تزریق انرژی و انگیزه به ورود کسب و کار شما به دنیای تکنولوژی کمک می کند.</p>
        </div>   
    </div>
    <br>
    {% for cat in Category  %}
        <div style="overflow: hidden;">
            <h2 style="float: right;">{{cat.title}}</h2>
            <a href="{% url 'app-project:projectcategory' slug=cat.slug %}" style="float: left;"><p>مشاهده همه</p></a></span>
        </div>
        {% if cat.children.all|slice:"0:3" %}
            {% for proj in cat.children.all %}
                <div class="card">
                    <img src="{{ proj.image.url }}" class="img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <a class="my-url" href="{{ proj.get_absolute_url }}"><h4 class="card-title">{{ proj.title}}</h4></a>
                        <p class="card-text">{{ proj.summary }}</p>
                        <hr>
                        <span class="badge badge-info" dir="rtl">
                            <a class="my-dark-url" href="{{ proj.head.profile.get_absolute_url }}">{{ proj.head.get_full_name }}</a>
                        </span>
                        <span class="badge badge-info" dir="rtl">
                            <a class="my-dark-url" href="{{ proj.category.get_absolute_url }}">{{ proj.category }}</a>
                        </span>
                        {% if proj.file_url %}
                            <a href="{{ proj.file_url }}"><span class="badge badge-dark"><i class="fas fa-download"></i></span></a>
                        {% endif %}
                        {% if proj.youtube_url %}
                            <a href="{{ proj.youtube_url }}"><span class="badge badge-danger"><i class="fab fa-youtube"></i></span></a>
                        {% endif %}
                        {% if proj.github_url %}
                            <a href="{{ proj.github_url }}"><span class="badge badge-dark"><i class="fab fa-github"></i></span></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <hr>
    {% endfor %}
</div>

{% endblock content %}