{% extends 'registration/admin-base.html' %}

{% block title %}{% block title-meta %}
    لیست رویدادها
{% endblock %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 120px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>عنوان</th>
                <th>آدرس</th>
                <th>تصویر</th>
                <th>توضیحات</th>
                <th>تاریخ</th>
                <th>ارائه دهنده</th>
                <th>وضعیت برگزاری</th>
                <th>نوع رویداد</th>
              </tr>
            </thead>
            <tbody>
                {% for event in Event %}
                  <tr>
                    <td>{{ event.title }}</td>
                    <td><a href="{% url 'app-event:event' slug=event.slug %}">مشاهده</a></td>
                    <td>
                      {% if event.image %}
                        <img src="{{ event.image.url }}" style="width: 120px;"/>
                      {% else %}
                        <img src="{{ event.img_404 }}" style="width: 120px;"/>
                      {% endif %}
                    </td>
                    <td>{{ event.summary|safe|truncatechars:50 }}</td>
                    <td>{{ event.jdate }}</td>
                    <td>{{ event.person }}</td>
                    <td>{{ event.get_status_display }}</td>
                    <td>{{ event.get_event_type_display }}</td>
                    <td>
                      <span class="badge badge-danger">
                        <a href="{% url 'app-account:delete-event' pk=event.pk %}"><i class="fas fa-trash-alt"></i></a>
                      </span>
                      <span class="badge badge-info">
                          <a href="{% url 'app-account:edit-event' pk=event.pk %}"><i class="fas fa-edit"></i></a>
                      </span>
                    </td>
                  </tr>
                {% endfor %}     
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
    
{% endblock content %}

    