{% extends 'registration/admin-base.html' %}

{% block title %}{% block title-meta %}
    لیست اسلایدها
{% endblock %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 120px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>عنوان</th>
                <th>تصویر</th>
                <th>پیوند</th>
                <th>توضیحات</th>
              </tr>
            </thead>
            <tbody>
                {% for slide in Slider %}
                  <tr>
                    <td>{{ slide.title }}</td>
                    <td>
                      {% if slide.image %}
                        <img src="{{ slide.image.url }}" style="width: 120px;"/>
                      {% else %}
                        <img src="{{ event.img_404 }}" style="width: 120px;"/>
                      {% endif %}
                    </td>
                    <td><a href="{{ slide.link }}">{{ slide.link }}</a></td>
                    <td>{{ slide.description|safe }}</td>
                    <td>
                        <span class="badge badge-danger">
                            <a href="{% url 'app-account:delete-slide' pk=slide.pk %}"><i class="fas fa-trash-alt"></i></a>
                        </span>
                        <span class="badge badge-info">
                            <a href="{% url 'app-account:edit-slide' pk=slide.pk %}"><i class="fas fa-edit"></i></a>
                        </span>
                    </td>
                  </tr>
                {% endfor %}     
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
    
{% endblock content %}

    