{% extends 'registration/admin-base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
    اضافه کردن پست
{% endblock %}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card card-dark">
        <div class="card-header">
            <h4 class="mb-0 ">اطلاعات مقاله</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {{ form.media }}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.slug|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.content|as_crispy_field}}
                        </div>
                        <div class="col-12">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.image_alt|as_crispy_field }}
                        </div>
                        <div class="col-12" style="margin-bottom: 25px;">
                            خلاصه
                            {{ form.summary }}
                        </div>
                        <div class="col-6">
                            {{ form.youtube_url|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.file_url|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.github_url|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.refrence|as_crispy_field }}
                        </div>
                        {% if request.user.profile.is_admin %}
                            <div class="col-6">
                                {{ form.user|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.status|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    زمان بندی انتشار :
                                    {{ form.publish_time }}
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <p class="text-muted">در صورتی که مایل هستید پست شما به صورت خودکار منتشر شود روز و ساعت انتشار را مشخص کنید. در غیر این صورت این فیلد را خالی بگذارید.</p>
                            </div>
                        {% endif %}                            
                    </div>
                    <button class="btn btn-info">ذخیره</button>
            </form>
        </div> 
    </div>
</div>
    
{% endblock content %}
    
    